/* Container and overlay styling */
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(247, 25, 210, 0.25), 0 10px 10px rgba(161, 40, 133, 0.22);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 2;
    transform: translateX(100%);
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 1;
    transform: translateX(0);
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(0);
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .overlay {
    background: linear-gradient(to right, #a86a95, #ba4c90, #940470);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .ghost {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn {
    border: none;
    padding: 10px 20px;
    background-color: #eb55b2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #86065f;
  }
  
  .form_input {
    margin: 10px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  form h1 {
    font-weight: bold;
    margin: 0 0 20px;
  }
  
  form input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  form button {
    margin: 20px 0 10px;
  }
  